/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #FFD08E;
    margin: 0;
    padding: 20px;
}

main {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: #333;
}

/* Table styling for invoice */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f0f0f0;
    color: #333;
}

/* Button styles */
button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

.confirm_btn {
    background-color: #28a745;
    color: #fff;
}

.cancel_btn {
    background-color: #dc3545;
    color: #fff;
}

.adjust_btn {
    background-color: #007bff;
    color: #fff;
}

.reset_btn {
    background-color: #ffc107;
    color: #fff;
}

/* Input field styling */
select{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="number"]{
    width: 97%;
    padding: 10px 11px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}