/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 5 Sep 2024, 9:55:23 PM
    Author     : HongD
*/

.box{
    height: 1000px;
    background-color: #ffd08e;
    border-radius: 10px;
    padding: 0 20px;
}

.box1{
    display: flex;
    gap: 40px;
    margin-top: 100px;
}

.box1 .danhsach h5:hover{
    color: #82a7d1;
    cursor: pointer;
}

.danhsach{
    display: flex;
    gap: 20px;
    color: #989898;
}

.box1 .location p{
    color: #2c54a1;
}

.box2_dangchieu, .box2_sapchieu, .box2_IMAX{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 30% 30%;
    grid-gap: 30px;
    justify-content: center;
    height: 1200px;
}

.box2-1{
    position: relative;
}

.box2-1 img{
    height: 100%;
    width: 100%;
    border-radius: 5%;
}

.box3{
    position: absolute;
    bottom: 0;
    right: 0;
}

.danhgia{
    background-color: rgba(0,0,0,0.4);
    color: #ffffff;
}

.danhgia p{
    padding: 5px;
}

.danhgia p i{
    color: #fff200;
}

.dotuoi p{
    background-color: #f47f19;
    padding: 3px 7px;
    border-radius: 20%;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}

.box2-1 .skin{
    opacity: 0%;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: rgba(0,0,0,0.3);
    border-radius: 5%;
    border: solid #d5d5d5;
}

.box2-1 .skin p{
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
    color: #ffffff;
    text-align: center;
    border-radius: 10%;
    background-color: #f47f19;
    padding: 8px 15px;
}

.box2-1 .skin .layer{
    width: 100%;
    position: absolute;
    top: 35%;
}

.box2-1 .skin:hover{
    opacity: 100%;
}

.box2-1 .skin p:hover{
    background-color: #ffa75a;
}

.hidden{
    display: none;
}

.glow{
    color: #034ea1;
    text-decoration: underline;
}



#box_signlog{
    background-color: #d5d5d5;
    width: 25vw;
    /* height: 70vh; */
    border-radius: 3%;
    padding: 50px 0;
    margin: auto;
}

#box_signlog .logo_signlog img{
    width: 80%;
    margin: 0 10%;
}

#box_signlog .logo_signlog p{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

#box_signlog .input_layer p{
    font-size: 11px;
    width: 90%;
    margin: 0 5%;
    color: #757575;
}

#box_signlog .input_layer input{
    width: 90%;
    margin: 0 5% 2% 5%;
    height: 40px;
}

#box_signlog .login_button button,a{
    width: 90%;
    margin: 1% 5%;
}

#box_signlog .no_account p,a{
    width: 90%;
    margin: 1% 5%;
}

.hidden {
    display: none;
}