/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 27 Sept 2024, 10:33:23 pm
    Author     : HongD
*/
html{
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    height: 100%;
}

#OTP{
    display: flex;
    width: 100vw;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
    justify-content: center;
}

#box{
    width: 40%;
    height: 50%;
    background-color: #ffffff;
    border-radius: 5px;
    align-self: center;
    display: flex;
    justify-content: center;
}

.dnone{
    display: none !important;
}