
header {
    background: linear-gradient(135deg, #F4A460, #FFE4B5);
    padding: 10px 20px;
}


.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */
.logo {
    border-radius: 50%;
    background-color: #FFD08E;
}

.bigLogo{
    justify-content: center;
    margin-left: -110px; 

}

.bigLogo h3{
    text-align: center;
    margin-top: 5px;
    color: #681740;
    font-family: fantasy;
}

.logo img {
    height: 90px;
    width: 95px    ;
    border: 2px solid #FF8C00;
    border-radius: 50%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background: none;
}


.logo img:hover {
    transform: scale(1.1);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin-top: 15px;
    padding: 0;
}

.navbar ul li a {
    text-decoration: none;
    color: grey;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
    background: none;
}

.nav-item .nav-link {
    font-size: 1.1rem;
    color: #681740;
    font-family: Arial;
}

.user-info {
    font-size: 20px;
    color:grey;
    margin-bottom:20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-info img {
    max-width: 30px;
    border-radius: 50%;
}

.swiper {
    width: 80%;
    height: 50%;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 250px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    -webkit-box-reflect: below 1px linear-gradient(transparent, transparent , #0002 , #0004);
  }

  .swiper-wrapper{
      padding-top: 10px;
      padding-bottom: 10px;
  }


.booking-steps {
    display: flex;
    justify-content: center;
}

.form-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.select-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

select {
    width: 200px;
    padding: 10px;
    font-size: 16px;
    color: #666;
    background-color: #fff;
    border: 2px solid #ffa500;
    border-radius: 50px;
}

select:focus {
    border-color: #ff6600;
    outline: none;
}

option:first-child {
    color:lightgrey;
}

select:focus option:first-child {
    color: black;
}
.quick-booking button {
    background-color: #ffad33;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.quick-booking button:hover {
    background-color: #ff6600;
}


.select-wrapper {
    position: relative;
}


.select-wrapper .error-message {
    display: none;
    color: #d9534f;
    font-size: 1.2em;
    margin-left: 5px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}


.select-wrapper.invalid select {
    border: 2px solid #d9534f;
}


.select-wrapper.invalid .error-message {
    display: inline-block;

}


.select-wrapper.invalid .error-message::before {
    content: "!️";
    color: #d9534f;
    margin-right: 5px;
}
#result {
    color: #d9534f;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 10px;
}

/* Profile container */
.profile-container {
    position: relative;
    display: inline-block;
}

/* Profile */
.profile {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.avatar {
    width: 80px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.username {
    font-size: 16px;
    font-weight: bold;
}

.stars {
    font-size: 14px;
    color: gray;
    margin-left: 5px;
}

/* Dropdown menu */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 1;
    min-width: 100px;
}

/* Dropdown items */
.dropdown-item {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: black;
    max-width: 100px;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
}

/* Show dropdown on hover */
.profile-container:hover .dropdown-menu {
    display: block;
}

.signlog {
    text-align: center;
}
.btn-custom {
    background-color: #F4A460; /* Primary blue color */
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 18px;
    border-radius: 8px;
    transition: background-color 0.3s, box-shadow 0.3s;
    text-decoration: none; /* Remove underline */
}
.btn-custom:hover {
    background-color: #FF8C00;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.logo a{
    background-color: none;
}



@media (min-width: 960px){}
.entry {
    float: left;
    width: 100%;
}

.entry {
    text-align: center;
    min-height: 6vh;
    position: relative;
    height:100%;
    
}
#raffle-red div {
     background-image: radial-gradient(circle at top left, transparent 8px, #ffffff 8px), 
                          radial-gradient(circle at top right, transparent 8px, #ffffff 8px), 
                          radial-gradient(circle at bottom left, transparent 8px, #ffffff 8px), 
                          radial-gradient(circle at bottom right, transparent 8px, #ffffff 8px);
        box-shadow: 0 15px 8px -10px rgba(0, 0, 0, 0.3);
        background-size: 50% 50%;
        background-position: top left, top right, bottom left, bottom right;
}
.raffle div {
    width: 120px; /* Giảm kích thước */
        height: 60px; /* Giảm kích thước */
        margin-left: -125px; /* Căn giữa lại */
        margin-top: -30px; /* Căn giữa lại */
        background-repeat: no-repeat;
}


.entry div {
    position: absolute;
    left: 50%;
    top: 50%;
}
#raffle-red div:before {
    content: 'Mua vé';
        width: 130px; /* Điều chỉnh theo kích thước mới */
        height: 40px; /* Điều chỉnh theo kích thước mới */
        padding-left: 10px;
        left: 7px; /* Điều chỉnh vị trí */
        top: 16px; /* Điều chỉnh vị trí */
        line-height: 1.3; /* Điều chỉnh chiều cao dòng */
        font-size: 19px; /* Giảm kích thước chữ */
        text-align: left;
}

.raffle div:before {
    font-family: 'HelveticaNeue-CondensedBold', 'Arial Narrow', Impact, 'Roboto', sans-serif;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.raffle div:before, .raffle div:after {
    box-sizing: border-box;
    color: #333;
}

.entry div:before, .entry div:after {
    display: block;
    content: '';
    position: absolute;
}
#raffle-red div:after {
    content: '###';
        width: 40px; /* Điều chỉnh theo kích thước mới */
        height: 100px; /* Điều chỉnh theo kích thước mới */
        padding-top: 85px; /* Điều chỉnh vị trí */
        top: -20px; /* Điều chỉnh vị trí */
        left: 39px; /* Điều chỉnh vị trí */
        background: linear-gradient(to bottom, transparent 85px, #fa8072 85px, #fa8072 87px, transparent 87px);
        border: 2px solid #fa8072;
}

.raffle div:after {
    border-radius: 10px;
    transform: rotate(-90deg);
    font-size: 12px;
    font-family: monospace;
    text-align: center;
    line-height: 1;
}

.raffle div:before, .raffle div:after {
    box-sizing: border-box;
    color: #333;
}

.entry div:before, .entry div:after {
    display: block;
    content: '';
    position: absolute;
}body {
    line-height: 1;
}

.no-scale:after {
    border-radius: 10px;
    -ms-transform: rotate(-90deg) !important; /* IE 9 */
    -webkit-transform: rotate(-90deg)!important;
    transform: rotate(-90deg)!important ; 
    font-size: 14px;
    font-family: monospace;
    text-align: center;
    line-height: 1;
}

.raffle div:before, .raffle div:after {
    box-sizing: border-box;
    color: #333;
}

.entry div:before, .entry div:after {
    display: block;
    content: '';
    position: absolute;
}


.text-movie {
            background-color: #fff;
            padding: 20px;
            text-align: center;
            font-size: 24px;
            font-weight: bold;
            text-transform: uppercase;
            color: #333;
        }

        .text-movie h2 ::before, .text-movie h2 ::after {
            content: "-------";
            font-weight: normal;
            color: #888;
        }


        
.box2-1 .skin p{
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
    color: black;
    border: solid #f47f19;
    text-align: center;
    background-color: #eb7d5d;
    padding: 8px 15px;
}



