/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Sep 19, 2024, 3:51:32 PM
    Author     : pc
*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial;
}

.container {
    display: flex;
}

.sidebar {
    width: 300px;
    background-color: #F97D5B;
    padding: 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
    font-family: Segoe UI;
    color: white;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    margin: 20px 0;
}

nav ul li a {
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: flex;
    align-items: center;
}

nav ul li a:hover {
    color: #FF5722;
}

.content {
    flex-grow: 1;
    padding: 20px;
    background-color: #FECF8F;
}

.content h2 {
    margin-bottom: 20px;
}

.movie-section {
    padding: 20px;
}

.movie-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.movie-header h1 {
    font-size: 24px;
    color: #000;
}

.add-movie{
    display: flex;
    width: auto;
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.add-movie:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.add-movie i{
    margin-right: 8px;
    font-size: 18px;
}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.movie-card {
    background-color: #FECF8F;
    overflow: hidden;
    transition: transform 0.2s ease;
}

.movie-image-container:hover {
    opacity: 0.7;
}

.movie-image-container {
    border-radius: 15px;
    overflow: hidden; 
    display: block; 
}

.movie-image img{
    width: 100%;
    height: auto;
    display: block;
}

.movie-name {
    padding: 15px 0;
    text-align: left;
}

.movie-info h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
}

.movie-info p {
    font-size: 14px;
    color: #666;
}

.user-profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #A8234C;
    padding: 10px;
    border-radius: 8px;
    color: #ffffff;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info p {
    margin: 0 10px;
}

.user-name {
    font-weight: bold;
    font-size: 14px;
}

.user-title{
    font-size: 12px;
}

.fa-right-from-bracket {
    cursor: pointer;
}

