.container {
    max-width: 1200px;
    margin: 0 auto;
}

.nav-tabs .nav-link {
    font-weight: 600;
    color: grey;
}

.nav-tabs .nav-link.active {
    font-weight: 700;
    border-bottom: 3px solid #286090;
    color: #286090;
}

.btn-group-toggle .btn {
    margin: 5px;
    padding: 10px 20px;
    font-size: 14px;
}

.btn-group-toggle .btn.active {
    background-color: #0056b3;
    color: #fff;
}

.movie-selection button, 
.showtime-selection button {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
}

.movie-summary {
    border: 1px solid #ced4da;
    padding: 15px;
    border-radius: 5px;
}

.movie-summary img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.movie-summary h6 {
    font-weight: 600;
}

.movie-summary .badge-warning {
    background-color: #ffcc00;
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
}

.total-cost {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}

.btn-warning {
    background-color: #ffcc00;
    border: none;
}

.btn-link {
    color: #007bff;
    text-decoration: none;
}

.bookingProcess{
    display: flex;
    justify-content: space-around;
    margin: 20px 20% 20px 20%;
}

.tbody{
    margin: 20px 20px;
}

.tbody .left .card{
    margin: 20px 0;
    background-color: white; 
    border: solid black 1px;
    padding: 10px;
}

#cinemaList .list label:hover{
    background-color: #286090;
    color: white;
    border-radius: 5px;
}

.mvList .mv .imgs{
    width: 175px;
    height: 220px;
}

.mvList{
    padding-right: 20px;
}

.mvList .mv{
    margin: 10px 0 0 0;
    text-align: center;
}

.week_dates {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }

    .date_card {
        padding: 10px;
        margin-bottom: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
    }

    .date_card h5 {
        margin: 0;
        font-size: 14px;
    }