<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>GoogleServlet</servlet-name>
        <servlet-class>Controller.GoogleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MovieServlet</servlet-name>
        <servlet-class>Controller.MovieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadProfilePicture</servlet-name>
        <servlet-class>Controller.UploadProfilePicture</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoucherServlet</servlet-name>
        <servlet-class>Controller.VoucherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FoodAndDrinkServlet</servlet-name>
        <servlet-class>Controller.FoodAndDrinkServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MovieDetailServlet</servlet-name>
        <servlet-class>Controller.MovieDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FoodsAndDrinks</servlet-name>
        <servlet-class>Controller.FoodsAndDrinks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Seat</servlet-name>
        <servlet-class>Controller.Seat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectDate</servlet-name>
        <servlet-class>Controller.SelectDate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectSeat</servlet-name>
        <servlet-class>Controller.SelectSeat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectMovie</servlet-name>
        <servlet-class>Controller.SelectMovie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>Controller.PaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportServlet</servlet-name>
        <servlet-class>Controller.ReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sort</servlet-name>
        <servlet-class>Controller.Sort</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Voucher</servlet-name>
        <servlet-class>Controller.Voucher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ajaxServlet</servlet-name>
        <servlet-class>com.vnpay.common.ajaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vnpayQuery</servlet-name>
        <servlet-class>vnpayQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vnpayRefund</servlet-name>
        <servlet-class>com.vnpay.common.vnpayRefund</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TheatreServlet</servlet-name>
        <url-pattern>/TheatreServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoogleServlet</servlet-name>
        <url-pattern>/GoogleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MovieServlet</servlet-name>
        <url-pattern>/MovieServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadProfilePicture</servlet-name>
        <url-pattern>/UploadProfilePicture</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoucherServlet</servlet-name>
        <url-pattern>/VoucherServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FoodAndDrinkServlet</servlet-name>
        <url-pattern>/FoodAndDrinkServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MovieDetailServlet</servlet-name>
        <url-pattern>/MovieDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FoodsAndDrinks</servlet-name>
        <url-pattern>/FoodsAndDrinks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Seat</servlet-name>
        <url-pattern>/Seat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectDate</servlet-name>
        <url-pattern>/SelectDate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectSeat</servlet-name>
        <url-pattern>/SelectSeat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectMovie</servlet-name>
        <url-pattern>/SelectMovie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/PaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportServlet</servlet-name>
        <url-pattern>/ReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sort</servlet-name>
        <url-pattern>/Sort</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Voucher</servlet-name>
        <url-pattern>/Voucher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ajaxServlet</servlet-name>
        <url-pattern>/ajaxServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vnpayQuery</servlet-name>
        <url-pattern>/vnpayQuery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vnpayRefund</servlet-name>
        <url-pattern>/vnpayRefund</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>HomePage.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>Controller.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TheatreServlet</servlet-name>
        <servlet-class>Controller.TheatreServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>
    <multipart-config>
        <location>/tmp</location>
        <max-file-size>20848820</max-file-size>
        <!-- 20MB -->
        <max-request-size>418018841</max-request-size>
        <!-- 40MB -->
        <file-size-threshold>1048576</file-size-threshold>
        <!-- 1MB -->
    </multipart-config>
    <context-param>
        <param-name>UPLOAD_DIRECTORY</param-name>
        <param-value>D:/Hoc/Ky 5/SWP391/BookingFilmWebsite/web/image/Avatar/</param-value>
        <!-- Đường dẫn lưu trữ Avatar -->
    </context-param>
    <context-param>
        <param-name>UPLOAD_PDIRECTORY</param-name>
        <param-value>D:/Hoc/Ky 5/SWP391/BookingFilmWebsite/web/image/MovieImg/P/</param-value>
        <!-- Đường dẫn lưu trữ Potrail -->
    </context-param>
    <context-param>
        <param-name>UPLOAD_LDIRECTORY</param-name>
        <param-value>D:/Hoc/Ky 5/SWP391/BookingFilmWebsite/web/image/MovieImg/L/</param-value>
        <!-- Đường dẫn lưu trữ Landscape -->
    </context-param>
    <context-param>
        <param-name>UPLOAD_VDIRECTORY</param-name>
        <param-value>D:/Hoc/Ky 5/SWP391/BookingFilmWebsite/web/image/Voucher/</param-value>
        <!-- Đường dẫn lưu trữ Voucher -->
    </context-param>
    <context-param>
        <param-name>UPLOAD_CBDIRECTORY</param-name>
        <param-value>D:/Hoc/Ky 5/SWP391/BookingFilmWebsite/web/image/FoodsAndDrinks/</param-value>
        <!-- Đường dẫn lưu trữ Food and drink -->
    </context-param>
</web-app>
